.App {
  text-align: center;
  color: rgb(5, 44, 11);
} 

.button{
  padding:0.5rem 1rem 0.5rem 1rem;
  border-radius:5px;
  color:rgb(5, 44, 11);
  background-color: white;
}

.button:hover{
  background-color:rgb(5, 44, 11);
  color:white;
  cursor:pointer;
  font-weight:bold;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:3rem;
  padding-right:1rem;
  background-image: linear-gradient(to right, rgb(204, 238, 206) , rgb(209, 240, 215));
}



hr{
  margin:0;
  border-color:green;
}

footer {
  padding: 10px;
  background-color: white;
  text-align:right;
  padding-right:2rem;
  background-image: linear-gradient(to left, rgb(204, 238, 206) , rgb(209, 240, 215));
}

.landing-page{
  width:100%;
  height:75vh;
  background-image:url("./static/tractor_big.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
}

.shading-div{
  height:100%;
  width:100%;
  background-color:rgba(0, 0, 0, 0.437);
}

.landing-header{
  color:white;
  padding-top:10rem;
  font-size:3rem;
  margin:0;
  margin-bottom:2rem;
}

.home-container{
  padding-top:2rem;
  padding-bottom:2rem;
  position:relative;
  display:flex;
  flex-direction:column;
  /* justify-content:center; */
  align-items:center;
  min-height:63vh;
}

.home-form{
  width:25%;
  background-color:rgb(234, 246, 236);
  color:rgb(5, 44, 11);
  border:2px solid green;
  border-radius:5px;
  padding:1rem;
}

.home-form > label{
  font-weight:bold;
}

.home-form > .button{
  margin-top:0.5rem;
  
}

.home-form-input{
  width:50%;
  /* float:right; */
  margin:0.5rem 0.25rem 0.5rem 0.25rem;
  padding:0.5rem 0 0.5rem 0;
  text-align:center;
}

a{
  padding-right:2rem;
  font-weight:normal;
  font-size:1rem;}

a:hover{
  color:blue;
  font-weight:bold;
}

a:visited{
  color:rgb(5, 44, 11);
}


.map{
  height:auto;
  width:100vw;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.map-info{
  display:flex;
}

.map-info > h3{
  margin:0;
}

.button-container{
  display:flex;
  margin-top:0.5rem;
}

.map-button{
  margin-left:0.5rem;
  margin-right:0.5rem;
}

.map-container{
  height:65vh;
  width:50%;
  /* margin:1rem; */
  position:relative;
}

.map > h3{
  margin:0.25rem;
}

.bold {
  font-weight:bold;
}

.info-window-list{
  list-style:none;
  text-align:left;
}

.info-window-list > li > a{
  font-size:0.75rem;
  text-align:left;
}



.inspector-information{
  position:relative;
  width:90%;
  margin-bottom:1rem;
  display:flex;
  justify-content:center;
  
}

.inspector-table{
  margin-top:2rem;
  width:100%;
  table-layout: auto;
  
}

.inspector-table > tr > th{
  text-align:center;
  font-size:0.75rem;
  padding:0.25rem;
}

.inspector-table > tr > td{
  font-size:0.75rem;
}

th, td, table {
  border: 1px solid black;
  border-collapse:collapse;
  margin: 0px;
}

td{
  padding:0.5rem 0.25rem 0.5rem 0.25rem;
  word-wrap: normal;
}

 td > a{
  font-size:0.65rem;
  text-align:left;
}

a {
  text-decoration: none;
  font-weight:normal;
}

.admin-container{
  padding-top:2rem;
  min-height:63vh;
  padding-bottom:2rem;
}

.admin-card-container{
  display:flex;
  justify-content:space-evenly;
  height:30vh;
  align-items:center;
  color:rgb(5, 44, 11)
}

.admin-card{
  border:2px green solid;
  border-radius:10px;
  padding:2rem;
}

.admin-card:hover{
  cursor:pointer;
  background-color:rgb(5, 44, 11);
  color:white;
  border:2px white solid;
}

.active{
  cursor:pointer;
  background-color:rgb(5, 44, 11);
  color:white;
  border:2px white solid;
}

.admin-form-container{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

.add-inspector-form{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:50%;
  background-color:rgb(234, 246, 236);
  color:rgb(5, 44, 11);
  border:1px solid black;
  border-radius:5px;
  padding:1rem;
  border:2px solid green;
}

.add-inspector-form > input{
  padding:0.5rem;
  margin:0.5rem;
}

.add-tractor-form{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:25%;
  background-color:rgb(234, 246, 236);
  color:rgb(5, 44, 11);
  border:1px solid black;
  border-radius:5px;
  padding:1rem;
  border:2px solid green;
}

.add-tractor-form > input{
  padding:0.5rem;
  margin:0.5rem;
}

.inspector-search-form > input{
  padding:0.5rem;
  margin:0.5rem;
}

.inspector-search-form{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:25%;
  background-color:rgb(234, 246, 236);
  color:rgb(5, 44, 11);
  border:1px solid black;
  border-radius:5px;
  padding:1rem;
  border:2px solid green;border:2px solid green;
  margin-bottom:1rem;
}

tr:hover{
  background-color:rgb(234, 246, 236);
}
